.select {
  all: unset;

  display: flex;
  column-gap: 15px;
  align-items: center;

  padding: 8px;

  color: var(--color_action);

  &[data-state="open"] .arrow {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }

  &[data-state="closed"] .arrow {
    transition: all 0.3s ease-in-out;
  }

  .arrow {
    display: flex;
  }
}

.item {
  cursor: pointer;
  color: var(--color_action);

  &[data-state="checked"] {
    color: var(--color_secondary);
  }

  &[data-highlighted] {
    outline: none;
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.portal {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  padding: 8px;

  background: var(--color_secondary_3);
  border: 1px solid var(--color_secondary_2);
  border-radius: 4px;
}
