:root {
  --color_primary: #323232;
  --color_secondary: #828282;
  --color_secondary_2: #e6e6e6;
  --color_secondary_3: #fafafa;
  --color_action: #5e5aff;
  --color_active: #9f9dff;
  --color_reg_no: #d0e6ff;
  --color_reg_yes: #f6faff;
  --color_bg: #ffffffd1;
  --color_error: #ee5656;
  --color_warning: #ffe500;
  --color_success: #33a553;
}
