@import "@/styles/breakpoints";

.keyboard {
  @include desktop {
    gap: 30px 48px;
  }

  @include tablet {
    gap: 20px;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
}
