@import "@/styles/breakpoints";

.links {
  @include mobile {
    flex-direction: column;
    row-gap: 20px;
  }

  display: flex;
  justify-content: space-between;

  max-width: 1310px;
  margin: auto;
  padding: 0 15px;

  color: var(--color_secondary);
}

.link {
  display: flex;
  column-gap: 10px;
  align-items: center;
  text-decoration: none;
}

.linksGroup {
  display: flex;
  column-gap: 40px;
}
